html, body {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    color: red;
}
#home {
    background-image: url('../Images/coverPhoto.png') ;
    display: table;
    height: 100%;
    width: 100%;
    background-size: cover;

}
h1 {
    margin-left: 70%;
    margin-top: 25%;
    font-family: 'Dancing Script', cursive; 
    color: black;   
}
h3 {
    margin-left: 60%;
    font-family: 'Dancing Script', cursive;
    color: black;
}
#welcomeButton {
margin-left: 70%;
box-shadow: 0 5px 15px 0px;
animation: float 6s ease-in-out infinite;
transform: translateY(0px);
}